[Unit]
Description=Timer to watch cert in SSM every 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Unit=eventstore-config-watcher.service

[Install]
WantedBy=timers.target
